.footer {

    display: grid;
    background-color: $graybgrnd;
}



////////////////////////////////////////////768///////////////////////////////////////////


@media (min-width: 768px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: min-content min-content;
    }
}

////////////////////////////////////////////992///////////////////////////////////////////


@media (min-width: 992px) {

}

//////////////////////////////////////////1200//////////////////////////////////////////////

@media (min-width: 1200px) {

}