
* {
    box-sizing: border-box;
    margin: 0px;
}
.responsive {
    width: 100%;
    height: auto;
  }

.container {
    max-width: 1350px;
    min-width: 375px;
    margin: 0 auto;
    padding: 0 15px;
}

.body {
    font-family: 'Montserrat', 'Tahoma', sans-serif;
    font-weight: normal;
    font-style: normal;
    
}
a { 
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.responsive {
    width: 100%;
    height: auto;
  }
