.logo {
	padding-bottom: 30px;
	padding-top: 15px;
}



/////////////////////////////////////////768/////////////////////////////////////////////////
@media (min-width: 768px) {}






//////////////////////////////////////////////992////////////////////////////////////////////
@media (min-width: 992px) {

.logo {
    grid-row-start: 1;
    grid-row-end: 3;
    padding-bottom: 0;
    }
}